html, body { width: 100%; height: 100%; }



/*INDEX PAGE*/
html.indexHtml {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
  /*	background: -webkit-linear-gradient(#FFA194, #FFFFFF);*/
  	background-color: #2452F1;
}

h2.index_title { 
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-align: left;
	line-height: 2em;
	margin-top: 50px;
	margin-left: 50px;
	color: #FFEC00;
}

p.index {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: white;
	margin-top: 50px;
	margin-left: 50px;
	text-align: left;
}

a {
	color: white;
}

a:hover {
    color: #FF6767;
    cursor: help;
}

#index_body {
	overflow: hidden;
}





/*PROJECT 1: HELLO WORLD*/

p {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: black;
/*	margin-top: 80px;
	margin-left: 80px;*/
	text-align: left;
}

#helloworld_title {
	color: #202020;
}

#luck_bg {
	background: #DBF9B9;
}

#happiness_bg{
	background: #B6D7FF;
}

#helloworld1 {
	background: #FFDE62;
}

#hello {
	text-align: center;
	padding-top: 10em;
}

#do_you {
	text-align: center;
	margin-left: 40px;
	padding-top: 30em;
}

.happiness_link {
	margin-left: 500px;
	line-height: 30em;
	color: black;
}

.happiness_link:hover {
	color: #FF5220;
	cursor: help;
}

#or {
	text-align: center;
	padding-top: 2em;
}

.luck_link {
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	margin-left: 560px;
	line-height: 30em;
	color: black;
}

.luck_link:hover {
	color: #FF5220;
	cursor: help; 
	border-bottom: none;
}

.luck_text {
	font-family: 'Roboto Mono', monospace;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	padding-bottom: 30px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 30px;
}

.happiness_text {
	font-family: 'Roboto Mono', monospace;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 30px;
}

/*PROJECT 2: HIDDEN PATTERN PT 1*/
#hiddenhtml {
	height: 100%;
	margin: 0;
	background-size: cover;
	background-color: white;
}

.hidden {
	text-align: center;
	line-height: 2em;
	margin-top: 80px;
}

/*PROJECT 4: HIDDEN PATTERN INTERFACE*/

body.interface {
	overflow: hidden;
}

#interface_instruct {
	font-size: 10px;
	line-height: 1.5em;
	opacity: 0.2;
}

button {
	color: black;
	margin-left: 80px;
	margin-top: 10px;
	border: none;
	background-color: #F1F1F1;
}

.square {
	color: white;
	font-size: 4px;
}

#joke {
	font-size: 10px;
	color: black;
	opacity: 0.8;
}

#pointer {
	padding-left: 350px;
	font-size: 50px;
	padding-top: 210px;
}

.derp {
	background-color: black;
}


/*PROJECT 5: HIDDEN PATTERN REVISIONS*/

#joke_2 {
	font-family: 'VT323', monospace;
	font-size: 80px;
	margin-top: 80px;
	margin-left: 80px;
}

#audioButton {
	font-family: 'VT323', monospace;
	font-size: 20px;
	background: #F39C82;
	border-radius: 4px;
	color: black;
	transition: all 0.3s ease 0s;
}

#audioButton:hover {
	background: #C2F37F;
	opactiy: 0.5;
	transition: all 0.3s ease 0s;
}

#interface_instruct_2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 9.5px;
	color: white;
	line-height: 1.5em;
	position: sticky;
	bottom: 0;
	/*background-color: red;*/
	margin-left: 80px;
	padding-top:10px;
}

/*PROJECT 6 PART 1: LOOP SKETCHES PAGE*/
 
p.loop_intro {
 	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	color: black;
	margin-top: 50px;
	margin-left: 50px;
	text-align: left;
	line-height: 2em;
	width: 600px;
}

p.loop_text {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	color: black;
	margin-top: 50px;
	margin-left: 50px;
	text-align: left;
	line-height: 2em;
	width: 800px;
}

#loop_body {
	background-color: white;
	height: 100%;
}

.loop_imgs {
	margin-left: 30px;
}

/*PROJECT 6: LOOP LIVE*/
p.plant_loop { 
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	text-align: left;
	line-height: 2em;
	margin-top: 50px;
	margin-left: 50px;
	color: black;
}

#plant {
	width: 80px;
	min-height: 60px;
	background-color: #4ADA0B;
	margin: auto;
}

/*#wateringCan {
	width: 80px;
	height: 80px;
	background-color: red;
	top: 10px;
	margin: auto;
	margin-bottom:50px;
}*/

#droplet {
    background-color: lightblue;
    width: 90px;
    height: 90px;
/*    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 65px;
    -webkit-border-bottom-right-radius: 65px;
    -webkit-border-bottom-left-radius: 65px;
    -webkit-transform:rotate(45deg);*/

    /*display: none;*/
    margin: auto;
    top: 20px;

}

.plantLoopBg {
	background-color: #C5F5FF;
}

body {
	cursor:url(../img/watering_can.png), default;
}








