html, body { width: 100%; height: 100%; }

html.indexHtml {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
  /*	background: -webkit-linear-gradient(#FFA194, #FFFFFF);*/
  	background-color: #2452F1;
}


h2 { 
	font-family: 'Roboto Mono', monospace;
	font-size: 80px;
	text-align: left;
	margin-top: 40px;
	margin-left: 20px;
	color: white;
}

#webAdvanced:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: cell;
}

#fall {
	color: #FFEC00;
}
p {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: black;
	margin-top: 80px;
	margin-left: 80px;
	text-align: left;
}

p.index {
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	color: white;
	margin-top: 80px;
	margin-left: 100px;
	text-align: left;
}

a {
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	margin-left: 20px;
	/*line-height: 120px;*/
	color: white;
}

a:hover {
    color: #FF6767;
    cursor: help;
}

.hover_hiddenPattern img {display: none; position: absolute; opacity: 0.9; height: 300px;left: 650px; top: 580px;}
.hover_hiddenPattern:hover img {display: block;}





/*PROJECT 1: HELLO WORLD*/
#helloworld_title {
	color: #202020;
}

#luck_bg {
	background: #DBF9B9;
}

#happiness_bg{
	background: #B6D7FF;
}

#helloworld1 {
	background: #FFDE62;
}

#hello {
	text-align: center;
	padding-top: 10em;
}

#do_you {
	text-align: center;
	margin-left: 40px;
	padding-top: 30em;
}

.happiness_link {
	margin-left: 500px;
	line-height: 30em;
	color: black;
}

.happiness_link:hover {
	color: #FF5220;
	cursor: help;
}

#or {
	text-align: center;
	padding-top: 2em;
}

.luck_link {
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	margin-left: 560px;
	line-height: 30em;
	color: black;
}

.luck_link:hover {
	color: #FF5220;
	cursor: help; 
	border-bottom: none;
}

.luck_text {
	font-family: 'Roboto Mono', monospace;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	padding-bottom: 30px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 30px;
}

.happiness_text {
	font-family: 'Roboto Mono', monospace;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 30px;
}

/*PROJECT 2: HIDDEN PATTERN PT 1*/
#hiddenhtml {
	height: 100%;
	margin: 0;
	background-size: cover;
	background-color: white;
}

.hidden {
	text-align: center;
	line-height: 2em;
	margin-top: 80px;
}







