html, body { width: 100%; height: 100%; }


/*PROJECT 1: HELLO WORLD*/

p {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	color: black;
/*	margin-top: 80px;
	margin-left: 80px;*/
	text-align: left;
}

#helloworld_title {
	color: #202020;
}

#luck_bg {
	background: #DBF9B9;
}

#happiness_bg{
	background: #B6D7FF;
}

#helloworld1 {
	background: #FFDE62;
}

#hello {
	text-align: center;
	padding-top: 10em;
}

#do_you {
	text-align: center;
	margin-left: 40px;
	padding-top: 30em;
}

.happiness_link {
	margin-left: 500px;
	line-height: 30em;
	color: black;
}

.happiness_link:hover {
	color: #FF5220;
	cursor: help;
}

#or {
	text-align: center;
	padding-top: 2em;
}

.luck_link {
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	margin-left: 560px;
	line-height: 30em;
	color: black;
}

.luck_link:hover {
	color: #FF5220;
	cursor: help; 
	border-bottom: none;
}

.luck_text {
	font-family: 'Roboto Mono', monospace;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	padding-bottom: 30px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 30px;
}

.happiness_text {
	font-family: 'Roboto Mono', monospace;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 60px;
	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 30px;
}

/*PROJECT 2: HIDDEN PATTERN PT 1*/
#hiddenhtml {
	height: 100%;
	margin: 0;
	background-size: cover;
	background-color: white;
}

.hidden {
	text-align: center;
	line-height: 2em;
	margin-top: 80px;
}


/*PROJECT 4: HIDDEN PATTERN INTERFACE*/

body.interface {
	overflow: hidden;
}

#interface_instruct {
	font-size: 10px;
	line-height: 1.5em;
	opacity: 0.2;
}

button {
	color: black;
	margin-left: 80px;
	margin-top: 10px;
	border: none;
	background-color: #F1F1F1;
}

.square {
	color: white;
	font-size: 4px;
}

#joke {
	font-size: 10px;
	color: black;
	opacity: 0.8;
}

#pointer {
	padding-left: 350px;
	font-size: 50px;
	padding-top: 210px;
}

.derp {
	background-color: black;
}


/*PROJECT 5: HIDDEN PATTERN REVISIONS*/

#joke_2 {
	font-family: 'VT323', monospace;
	font-size: 80px;
	margin-top: 80px;
	margin-left: 80px;
}

#audioButton {
	font-family: 'VT323', monospace;
	font-size: 20px;
	background: #F39C82;
	border-radius: 4px;
	color: black;
	transition: all 0.3s ease 0s;
}

#audioButton:hover {
	background: #C2F37F;
	opactiy: 0.5;
	transition: all 0.3s ease 0s;
}

#interface_instruct_2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 9.5px;
	color: white;
	line-height: 1.5em;
	position: sticky;
	bottom: 0;
	/*background-color: red;*/
	margin-left: 80px;
	padding-top:10px;
}

/*PROJECT 6 PART 1: LOOP SKETCHES PAGE*/
 
p.loop_intro {
 	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	color: black;
	margin-top: 50px;
	margin-left: 50px;
	text-align: left;
	line-height: 2em;
	width: 600px;
}

p.loop_text {
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	color: black;
	margin-top: 50px;
	margin-left: 50px;
	text-align: left;
	line-height: 2em;
	width: 800px;
}

#loop_body {
	background-color: white;
	height: 100%;
}

.loop_imgs {
	margin-left: 30px;
}


/*PROJECT 6: PLANT LOOP*/

body.plantLoopBg {
	background: -webkit-linear-gradient(left top, #9CE9FF, #EEFFCF);
	cursor: url(../img/watering_can.png) 10 0, auto;
    cursor: url('./img/watering_can.png') 10 0, auto;
    cursor: -webkit-image-set(
    url('./img/watering_can.png') 1x,
    url('../img/watering_can.png') 2x
  ) 10 0, auto;
}

#droplet {
    background-color: #59AFFF;
    width: 35px;
    height: 35px;
    opacity: 0.75;
    position: absolute;
    margin-bottom: 40px;

    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 65px;
    -webkit-border-bottom-right-radius: 65px;
    -webkit-border-bottom-left-radius: 65px;
    -webkit-transform:rotate(45deg);

    margin: auto;
    top: 10px;
}

/*================= PLANT STEMS =================*/
.plants {
	position: absolute;
	bottom: 0;
	width: 8px;
	min-height: 10px;
	background-color: #4ADA0B;
	margin-top: 35px;
}

#plant_01 {
	margin-left: 8%;
}

#plant_02 {
	margin-left: 20%;
}

#plant_03 {
	margin-left: 35%;
}

#plant_04 {
	margin-left: 50%;
}

#plant_05 {
	margin-left: 65%;
}

#plant_06 {
	margin-left: 80%;
}

#plant_07 {
	margin-left: 90%;
}


/*================= LEAVES =================*/
.leaves {
	position: absolute;
	width: 15px;
	height: 15px;
}

/*for plant_01*/
#p1_leaf_01 { left: 85px; bottom: 20px;}
#p1_leaf_02 { left: 85px; bottom: 60px;}
#p1_leaf_03 { left: 110px; bottom: 40px;}
#p1_leaf_04 { left: 110px; bottom: 80px;}

/*for plant_02*/
#p2_leaf_01 { left: 240px; bottom: 20px;}
#p2_leaf_02 { left: 240px; bottom: 60px;}
#p2_leaf_03 { left: 265px; bottom: 40px;}
#p2_leaf_04 { left: 265px; bottom: 80px;}
#p2_leaf_05 { left: 240px; bottom: 100px;}
#p2_leaf_06 { left: 240px; bottom: 160px;}
#p2_leaf_07 { left: 265px; bottom: 140px;}
#p2_leaf_08 { left: 265px; bottom: 200px;}

/*for plant_03*/
#p3_leaf_01 { left: 430px; bottom: 20px;}
#p3_leaf_02 { left: 430px; bottom: 60px;}
#p3_leaf_03 { left: 455px; bottom: 40px;}
#p3_leaf_04 { left: 455px; bottom: 80px;}

/*for plant_04*/
#p4_leaf_01 { left: 625px; bottom: 20px;}
#p4_leaf_02 { left: 625px; bottom: 60px;}
#p4_leaf_03 { left: 647px; bottom: 40px;}
#p4_leaf_04 { left: 647px; bottom: 80px;}

/*for plant_05*/
#p5_leaf_01 { left: 815px; bottom: 20px;}
#p5_leaf_02 { left: 815px; bottom: 60px;}
#p5_leaf_03 { left: 840px; bottom: 40px;}
#p5_leaf_04 { left: 840px; bottom: 80px;}
#p5_leaf_05 { left: 815px; bottom: 100px;}

/*for plant_06*/
#p6_leaf_01 { left: 1010px; bottom: 20px;}
#p6_leaf_02 { left: 1010px; bottom: 60px;}
#p6_leaf_03 { left: 1030px; bottom: 40px;}
#p6_leaf_04 { left: 1030px; bottom: 80px;}
#p6_leaf_05 { left: 1010px; bottom: 100px;}

/*for plant_07*/
#p7_leaf_01 { left: 1135px; bottom: 20px;}
#p7_leaf_02 { left: 1135px; bottom: 60px;}
#p7_leaf_03 { left: 1158px; bottom: 40px;}
#p7_leaf_04 { left: 1158px; bottom: 80px;}
#p7_leaf_05 { left: 1135px; bottom: 100px;}



/*================= FLOWER BLOOMS =================*/
#bloom_01 {
	position: absolute;
	width: 170px;
	height: 170px;
	left: 943px;
	bottom: 200px;
}














